
<style>
    .navbar {
        background-color: #f8f9fa !important; /* Use !important to override Bootstrap styles */
    }

    .nav-link {
        color: black !important; /* Set the text color to black */
    }
</style>

<nav class="flex-column navbar">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" style="color: #84b219;" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="User">
            <span class="oi oi-person" style="color: #0fabc1;" aria-hidden="true"></span> User
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Books">
            <span class="oi oi-book" style="color: #e41a24;" aria-hidden="true"></span> Books
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="Cart">
            <span class="oi oi-cart" style="color: #fa8a0d;" aria-hidden="true"></span> Shopping Cart
        </NavLink>
    </div>
</nav>


